<!doctype html>
<html lang="tr">
<head>
    <title>Multi-TV</title>
</head>
<body class="text-bg-dark">
    <div class="{{.RowClass}}">
        <!-- Dynamically generate channel iframes -->
        {{range $name, $source := .Channels}}
            <div class="col text-center p-0">
                <iframe src="{{$source}}" frameborder="0" allowfullscreen></iframe>
            </div>
        {{end}}
    </div>
</body>
</html>
